<h3 class="loginTitle">
    <i class="fas fa-book-reader"></i><span>StoryBooks</span>
</h3>
<p class="lead">Create public and private stories from your life</p>
<a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Log in with Google
</a>