<!doctype html>
<html lang="en">
<head>
    <%- include("../components/head.ejs") %>
    <title>StoryBooks Login</title>
</head>
<body>
<div class="container login-container">
    <div class="card">
        <main class="card-content">
            <%- body %>
        </main>
    </div>
</div>
</body>
<%- include("../components/tail.ejs") %>
</html>