<!doctype html>
<html lang="en">
<head>
    <%- include("../components/head.ejs") %>
    <title>Storybooks Dashboard</title>
</head>
<body>
<%- include("../components/navbar.ejs") %>
<div class="container">
    <%- body %>
</div>
</body>
<%- include("../components/tail.ejs") %>
<script src="/js/dashboard.js"></script>
</html>